In [2]:
import pandas as pd

In [1]:
!pwd

/c/Users/weesn/Documents/Flatiron/Captstone/Untitled Folder

In [4]:
df = pd.read_csv('../2022_LoL_esports_match_data_from_OraclesElixir_20220407 (1).csv')
#data set found at oracle elixers website 
# https://oracleselixir.com/tools/downloads

In [6]:
df.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,121.0,391.0,345.0,14.0,0.0,1.0,0.0,0.0,1.0,0.0
1,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,100.0,541.0,-275.0,-11.0,2.0,3.0,2.0,0.0,5.0,1.0
2,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,119.0,-475.0,153.0,1.0,0.0,3.0,0.0,3.0,3.0,2.0
3,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,149.0,-793.0,-1343.0,-34.0,2.0,1.0,2.0,3.0,3.0,0.0
4,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,21.0,443.0,-497.0,7.0,1.0,2.0,2.0,0.0,6.0,2.0

In [11]:
df.describe()

,year,playoffs,game,patch,participantid,gamelength,result,kills,deaths,assists,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
count,56604.0,56604.000000,56604.000000,56580.000000,56604.000000,56604.000000,56604.000000,56604.000000,56604.000000,56604.000000,...,47376.000000,47376.000000,47376.000000,47376.000000,47376.000000,47376.000000,47376.000000,47376.000000,47376.000000,47376.000000
mean,2022.0,0.118296,1.387110,12.031196,29.583333,1905.280051,0.500000,4.780546,4.788955,10.532295,...,169.305809,0.000000,0.000000,0.000000,1.341734,2.161136,1.345027,1.341734,2.161136,1.345027
std,0.0,0.322961,0.760369,0.013821,57.650977,335.813641,0.500004,5.754022,5.506049,12.397384,...,157.710014,1558.443056,1084.609158,25.365311,1.943537,3.143592,1.881100,1.943537,3.143592,1.881100
min,2022.0,0.000000,1.000000,12.010000,1.000000,938.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-13670.000000,-10019.000000,-179.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2022.0,0.000000,1.000000,12.020000,3.750000,1662.000000,0.000000,1.000000,2.000000,3.000000,...,93.000000,-667.000000,-535.000000,-13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2022.0,0.000000,1.000000,12.030000,6.500000,1868.000000,0.500000,3.000000,3.000000,7.000000,...,125.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,2022.0,0.000000,2.000000,12.040000,9.250000,2111.000000,1.000000,6.000000,5.000000,11.000000,...,146.000000,667.000000,535.000000,13.000000,2.000000,3.000000,2.000000,2.000000,3.000000,2.000000
max,2022.0,1.000000,5.000000,12.060000,200.000000,3577.000000,1.000000,49.000000,49.000000,113.000000,...,623.000000,13670.000000,10019.000000,179.000000,24.000000,47.000000,24.000000,24.000000,47.000000,24.000000

In [12]:
df.columns[:]

Index(['gameid', 'datacompleteness', 'url', 'league', 'year', 'split',
       'playoffs', 'date', 'game', 'patch',
       ...
       'opp_csat15', 'golddiffat15', 'xpdiffat15', 'csdiffat15', 'killsat15',
       'assistsat15', 'deathsat15', 'opp_killsat15', 'opp_assistsat15',
       'opp_deathsat15'],
      dtype='object', length=123)

In [13]:
df.shape

(56604, 123)

In [14]:
with pd.option_context('display.max_seq_items', None):
    print (df.columns)

Index(['gameid', 'datacompleteness', 'url', 'league', 'year', 'split',
       'playoffs', 'date', 'game', 'patch', 'participantid', 'side',
       'position', 'playername', 'playerid', 'teamname', 'teamid', 'champion',
       'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'kills',
       'deaths', 'assists', 'teamkills', 'teamdeaths', 'doublekills',
       'triplekills', 'quadrakills', 'pentakills', 'firstblood',
       'firstbloodkill', 'firstbloodassist', 'firstbloodvictim', 'team kpm',
       'ckpm', 'firstdragon', 'dragons', 'opp_dragons', 'elementaldrakes',
       'opp_elementaldrakes', 'infernals', 'mountains', 'clouds', 'oceans',
       'chemtechs', 'hextechs', 'dragons (type unknown)', 'elders',
       'opp_elders', 'firstherald', 'heralds', 'opp_heralds', 'firstbaron',
       'barons', 'opp_barons', 'firsttower', 'towers', 'opp_towers',
       'firstmidtower', 'firsttothreetowers', 'turretplates',
       'opp_turretplates', 'inhibitors', 'opp_inhibitors', 'damagetochampions',
       'dpm', 'damageshare', 'damagetakenperminute',
       'damagemitigatedperminute', 'wardsplaced', 'wpm', 'wardskilled', 'wcpm',
       'controlwardsbought', 'visionscore', 'vspm', 'totalgold', 'earnedgold',
       'earned gpm', 'earnedgoldshare', 'goldspent', 'gspd', 'total cs',
       'minionkills', 'monsterkills', 'monsterkillsownjungle',
       'monsterkillsenemyjungle', 'cspm', 'goldat10', 'xpat10', 'csat10',
       'opp_goldat10', 'opp_xpat10', 'opp_csat10', 'golddiffat10',
       'xpdiffat10', 'csdiffat10', 'killsat10', 'assistsat10', 'deathsat10',
       'opp_killsat10', 'opp_assistsat10', 'opp_deathsat10', 'goldat15',
       'xpat15', 'csat15', 'opp_goldat15', 'opp_xpat15', 'opp_csat15',
       'golddiffat15', 'xpdiffat15', 'csdiffat15', 'killsat15', 'assistsat15',
       'deathsat15', 'opp_killsat15', 'opp_assistsat15', 'opp_deathsat15'],
      dtype='object')

In [16]:
#Some Kaggle Data sets
# https://www.kaggle.com/datasets?search=league+of+legends+first+15